# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan

# Crash log files
crash.log

# Exclude .terraform directory
.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore workspace files
*.tfworkspace